*.pyc
*.retry
.vscode

__pycache__/

# Galaxy artifacts.
*.tar.gz
*.zip

# Temporary test files.
tests/output

.tmp
.cache
docs/plugins/
docs/roles/
docs/_build/

.pytest_cache/
.mypy_cache/
*.retry

changelogs/.plugin-cache.yaml

pyvenv.cfg
lib64
share/
bin/
lib/
