{ "deployments" => {
  {% for item in values %}
    "{{ item['name'] }}" => {
    "name" => "{{ item['name'] }}",
    "path" => "{{ item['path'] }}",
    {% if 'runtime_name' in item %} "RUNTIME-NAME" => "{{ item['runtime_name'] }}", {% endif %}
    {% if 'unmanaged' in item %} "unmanaged" => {{ item['unmanaged'] }}, {% endif %}
    {% if 'disabled' in item %} "disabled" => {{ item['disabled'] }}, {% endif %}
    {% if 'replace_name_regex' in item %} "replace-name-regex" => "{{ item['replace_name_regex'] }}", {% endif %}
    {% if 'replace_runtime_name_regex' in item %} "replace-runtime-name-regex" => "{{ item['replace_runtime_name_regex'] }}", {% endif %}
  },
  {% endfor %}
  }
}
