{ "jdbc-driver" =>
  { "{{ values['driver_name'] }}" => {
    "driver-module-name" => "{{ values['driver_module_name'] }}",
    {% if 'driver_xa_datasource_class_name' in values %} "driver-xa-datasource-class-name" => "{{ values['driver_xa_datasource_class_name'] }}", {% endif %}
    {% if 'driver-class-name' in values %} "driver-class-name" => "{{ values['driver_class_name'] }}", {% endif %}
    {% if 'driver_datasource_class_name' in values %} "driver-datasource-class-name" => "{{ values['driver_datasource_class_name'] }}", {% endif %}
    {% if 'module_slot' in values %} "module-slot" => "{{ values['module_slot'] }}", {% endif %}
        "driver-name" => "{{ values['driver_name'] }}"
    }
  }
}
