{ "interface" => {
  {% for item in values %}
    "{{ item['name'] }}" => {
      {% if 'any_address' in item %} "any-address" => "{{ item['any_address'] }}", {% endif %}
      {% if 'inet_address' in item %} "inet-address" => "{{ item['inet_address'] }}", {% endif %}
      {% if 'link_local_address' in item %} "link-local-address" => "{{ item['link_local_address'] }}", {% endif %}
      {% if 'loopback' in item %} "use-loopback-context" => "{{ item['loopback'] }}" {% endif %}
      {% if 'loopback_address' in item %} "loopback-address" => "{{ item['loopback_address'] }}" {% endif %}
      {% if 'multicast' in item %} "multicast" => "{{ item['multicast'] }}" {% endif %}
      {% if 'nic' in item %} "nic" => "{{ item['nic'] }}" {% endif %}
      {% if 'not' in item %} "not" => "{{ item['not'] }}" {% endif %}
      {% if 'point_to_point' in item %} "point-to-point" => "{{ item['point_to_point'] }}" {% endif %}
      {% if 'public_address' in item %} "public_address" => "{{ item['public_address'] }}" {% endif %}
      {% if 'site_local_address' in item %} "site-local-address" => "{{ item['site_local_address'] }}" {% endif %}
      {% if 'public_address' in item %} "public-address" => "{{ item['public_address'] }}" {% endif %}
      {% if 'subnet_match' in item %} "subnet-match" => "{{ item['subnet_match'] }}" {% endif %}
      {% if 'up' in item %} "up" => "{{ item['up'] }}" {% endif %}
      {% if 'virtual' in item %} "virtual" => "{{ item['virtual'] }}" {% endif %}
  },
  {% endfor %}
  }
}
