{
  "keycloak" => {
    {% if 'secure_deployment' in values %}
      "secure-deployment" => {
        {% for secure_deployment in values['secure_deployment'] %}
          "{{ secure_deployment['deployment_name'] }}" => {
            {% if 'resource' in secure_deployment %} "resource" => "{{ secure_deployment['resource'] }}",
            {% if 'auth_server_url' in secure_deployment %} "auth-server-url" => "{{ secure_deployment['auth_server_url'] }}",
            "ssl-required" => "{{ secure_deployment['ssl_required'] }}",  {% endif %}
            "realm" => "{{ secure_deployment['realm'] }}",  {% endif %}
            {% if 'verify_token_audience' in secure_deployment %} "verify-token-audience" => "{{ secure_deployment['verify_token_audience'] }}", {% endif %}
            {% if 'use_resource_role_mappings' in secure_deployment %} "use-resource-role-mappings" => "{{ secure_deployment['use_resource_role_mappings'] }}", {% endif %}
            {% if 'credential' in secure_deployment %} "credential" => { "secret" => { "value" =>  "{{ secure_deployment['credential'] }}" } }, {% endif %}
          }
          {% endfor %}
      }
    {% endif %}
  }
}