{ "mail" => {
  {% for item in values %}
     "mail-session" => {
        "{{ item['name'] }}" => {
           "from" => "{{ item['from_email'] }}",
           "jndi-name" => "{{ item['jndi_name'] }}",
           "server" => {
              "smtp" => {
                 "outbound-socket-binding-ref" => "{{ item['outbound_socket_binding_ref'] }}",
                 {% if 'ssl' in item %} "ssl" => "{{ item['ssl'] }}", {% endif %}
               }
           }
         }
     }
     {% endfor %}
  }
}
