{ "messaging" => {
    "hornetq-server" => {
      "default" => {
        "jms-queue" => {
          {% for item in values %}
            "{{ item['queue_address'] }}" => {
            "entries" => [{% for entry in item['entries'] %}"{{ entry }}"{{ "," if not loop.last }}{% endfor %}],
            "durable" => "{{ item['durable'] }}"
          }
          {% endfor %}
        }
      }
    }
  }
}
