{ "modcluster" => {
    {% if 'proxy' in values %}
    "proxy" => {
      {% for item in values['proxy'] %}
        "{{ item['name'] }}" => {
          {% if 'advertise' in item %} "advertise" => "{{ item['advertise'] }}", {% endif %}
          {% if 'advertise_security_key' in item %} "advertise-security-key" => "{{ item['advertise_security_key'] }}", {% endif %}
          {% if 'advertise_socket' in item %} "advertise-socket" => "{{ item['advertise_socket'] }}", {% endif %}
          {% if 'auto_enable_contexts' in item %} "auto-enable-contexts" => "{{ item['auto_enable_contexts'] }}", {% endif %}
          {% if 'balancer' in item %} "balancer" => "{{ item['balancer'] }}", {% endif %}
          {% if 'excluded_contexts' in item %} "excluded-contexts" => "{{ item['excluded_contexts'] }}", {% endif %}
          {% if 'flush_packets' in item %} "flush-packets" => "{{ item['flush_packets'] }}", {% endif %}
          {% if 'flush_wait' in item %} "flush-wait" => {{ item['flush_wait'] }}, {% endif %}
          {% if 'listener' in item %} "listener" => "{{ item['listener'] }}", {% endif %}
          {% if 'load_balancing_group' in item %} "load-balancing-group" => "{{ item['load_balancing_group'] }}", {% endif %}
          {% if 'max_attempts' in item %} "max-attempts" => {{ item['max_attempts'] }}, {% endif %}
          {% if 'node_timeout' in item %} "node-timeout" => "{{ item['node_timeout'] }}", {% endif %}
          {% if 'ping' in item %} "ping" => {{ item['ping'] }}, {% endif %}
          {% if 'proxies' in item %} "proxies" => [{%for proxy in item['proxies'] %}"{{ proxy }}"{% if not loop.last %},{% endif %}{% endfor %}], {% endif %}
          {% if 'proxy_list' in item %} "proxy-list" => "{{ item['proxy_list'] }}", {% endif %}
          {% if 'proxy_url' in item %} "proxy-url" => "{{ item['proxy_url'] }}", {% endif %}
          {% if 'session_draining_strategy' in item %} "session-draining-strategy" => "{{ item['session_draining_strategy'] }}", {% endif %}
          {% if 'simple_load_provider' in item %} "simple-load-provider" => "{{ item['simple_load_provider'] }}", {% endif %}
          {% if 'smax' in item %} "smax" => {{ item['smax'] }}, {% endif %}
          {% if 'socket_timeout' in item %} "socket-timeout" => {{ item['socket_timeout'] }}, {% endif %}
          {% if 'ssl_context' in item %} "ssl-context" => "{{ item['ssl_context'] }}", {% endif %}
          {% if 'status_interval' in item %} "status-interval" => {{ item['status_interval'] }}, {% endif %}
          {% if 'sticky_session' in item %} "sticky-session" => "{{ item['sticky_session'] }}", {% endif %}
          {% if 'sticky_session_force' in item %} "sticky-session-force" => "{{ item['sticky_session_force'] }}", {% endif %}
          {% if 'sticky_session_remove' in item %} "sticky-session-remove" => "{{ item['sticky_session_remove'] }}", {% endif %}
          {% if 'stop_context_timeout' in item %} "stop-context-timeout" => "{{ item['stop_context_timeout'] }}", {% endif %}
          {% if 'ttl' in item %} "ttl" => "{{ item['ttl'] }}", {% endif %}
          {% if 'worker_timeout' in item %} "worker-timeout" => {{ item['worker_timeout'] }}, {% endif %}
        },
      {% endfor %}
      },
     {% endif %}
  }
}
