{ "standard-sockets" => {
    {% if 'socket_binding' in values %}
    "socket-binding" => {
      {% for item in values['socket_binding'] %}
        "{{ item['name'] }}" => {
          {% if 'port' in item %} "port" => "{{ item['port'] }}", {% endif %}
          {% if 'interface' in item %} "interface" => "{{ item['interface'] }}", {% endif %}
          {% if 'multicast_address' in item %} "multicast_address" => "{{ item['multicast_address'] }}", {% endif %}
          {% if 'multicast_port' in item %} "multicast_port" => "{{ item['multicast_port'] }}", {% endif %}
        },
      {% endfor %}
      }
     {% endif %}
  }
}
