{ 
    "undertow" => {
        {% for item in values %}
        {% if 'configuration' in item  %}
        "configuration" => {
            {% for config in item['configuration'] %}
            {% if 'filter' in config %}
            "filter" => {
                {% if config['filter'] =='gzip' %}
                "gzip" => {
                    "gzipfilter" => {}
                }
                {% endif %}
            }
            {% endif %}
            {% endfor %}
        },
        {% endif %}
        {% if 'server' in item %}
        "server" => {
            {% for server in item['server'] %}
            "{{ server['name']}}" => {
                {% if 'host' in server %}
                "host" => {
                    {% for host in server['host'] %}
                    "{{ host['name'] }}" => {
                        {% if 'filter_ref' in host %}
                        "filter-ref" => {
                            {% if 'gzipfilter' in host['filter_ref'][0] %}
                            "gzipfilter" => {
                                "predicate" => "{{ host['filter_ref'][0]['gzipfilter'][0]['predicate'] }}"
                            }
                            {% endif %}
                        }
                        {% endif %}
                    },
                    {% endfor %}
                }
                {% endif %}
            },
            {% endfor %}            
        }
        {% endif %}
        {% endfor %}
    }
}